@import "../../scss/variables";

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  .content {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .base-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $color_gray;
  }

  .nav-another-page {
    margin-top: 5px;
    padding: 5px 0 0 2px;

    a:link, a:visited {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      color: $color_black;
      font-weight: 500;
    }

    a:hover, a:active {
      color: $primary_color;
    }
  }

}


@media (min-width: 40rem) {
  .base-container h2{
    font-size: 2rem;
  }

  .base-container {
    height: 100vh;
  }
}


//@media (min-width: 60rem) {
//  .base-container h2{
//    font-size: 3rem;
//  }
//
//  .base-container {
//    height: 100vh;
//  }
//}

@media (min-width: 450px) and (max-width: 736px) {
  .app-container .nav-another-page {
    margin-top: 2px;
    padding: 0 0 0 2px;

    a:link, a:visited {
      display: inline-block;
      padding: 3px 6px;
      text-align: center;
      text-decoration: none;
      color: $color_black;
      font-weight: 500;
    }
  }
}