@import "../../scss/variables";

.app-container {
  height: 100%;

  .base_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color_gray;

    .text_field {
      min-height: 90px;
    }


    .base_container_btn {
      margin-top: 20px;
      font-family: 'Dancing Script', cursive;
    }

    .nav_another_page {
      margin-top: 5px;
      margin-left: 25px;
      padding: 5px 0 0 2px;
      font-family: 'Dancing Script', cursive;

      a:link, a:visited {
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        color: $color_black;
        font-weight: 500;
        font-family: 'Dancing Script', cursive;
      }

      a:hover, a:active {
        color: $primary_color;
      }
    }


    /* On screens that are  575.98px or less */
    @media(max-width: $max-xs) {
      .nav_another_page {
        margin-top: 5px;
        width: $max-xs;
        margin-left: -8px;
        font-family: 'Dancing Script', cursive;

        a:link, a:visited {
          display: inline-block;
          padding: 5px 10px;
          text-align: center;
          text-decoration: none;
          color: $color_black;
          font-weight: 500;
          font-family: 'Dancing Script', cursive;
        }
      }
    }
  }
}
