@import "../../scss/variables";

.base_container {
  .login_container {
    padding: 10px 30px;
    width: 360px;
    margin-top: 150px;

    .title_login {
      text-align: center;
      font-family: 'Dancing Script', cursive;
    }

    .server_error {
      color: $error_color;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      width: 215px;
      word-wrap: break-word;
    }

    .form_login {
      display: flex;
      flex-direction: column;
      padding: 10px;


      .icon {
        color: $primary_color;
      }
    }

    @media (max-width: $max-xs) {
      width: 95%;
    }
    @media (max-width: $max-sm) {
      width: 85%;
    }
  }
}
