@import "../../scss/variables";

.base_container {
  .login_container {
    padding: 10px 30px;

    .title_login {
      text-align: center;
    }

    .server_error {
      color: $error_color;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      width: 215px;
      word-wrap: break-word;
    }

    .form_login {
      display: flex;
      flex-direction: column;
      padding: 10px;

      .textField_email {
        display: inline-flex;
        align-items: flex-end;
        .icon_email {
          margin-right: 12px;
          font-size: 35px;
          color: $primary_color;
        }
      }

      .textField_password {
        display: inline-flex;
        align-items: flex-end;
        .icon_password {
          margin-right: 12px;
          font-size: 35px;
          color: $primary_color;
        }
      }
    }


    @media (max-width: $max-xs) {
      width: 95%;
    }
    @media (max-width: $max-sm) {
      width: 85%;
    }
  }
}


