@import "./scss/variables";

*{
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html {
  height: 100%;
  background-color: $color_gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@each $element, $font-size in $font-sizes {
  #{$element} {
    font-size: $font-size;
  }
}

h1 {
  font-size: $font_h1;
}
