@import "../../scss/variables";

.category_paper_box {
  margin-top: 50px;

  .category_paper_card {
    padding: 35px 45px;
    box-shadow: 0 8px 42px -8px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 8px 42px -8px rgba(0, 0, 0, 0.4);
    }

    .category_paper_title {
      text-align: center;
      color: $primary_color;
      font-family: 'Dancing Script', cursive;
    }

    .category_items {
      display: flex;
      flex-direction: column;
      margin-top: 55px;

      .search_my_paper {
        .search_textField {
          width: 100%;

          .MuiInputLabel-formControl {
            font-family: 'Dancing Script', cursive;
          }

          .search_icon {
            color: $primary_color;
            font-size: 40px;
          }
        }
      }

      .select_category {
        margin-top: 40px;

        .category_input_label {
          width: 200px;
          font-family: 'Dancing Script', cursive;
        }

        .select_item {
          font-family: 'Dancing Script', cursive;
        }
      }

      .category_item_footer {
        display: flex;
        justify-content: flex-end;

        .btn_topic {
          background-color: #1976d2;
          color: $color_white;
          font-size: large;
          font-family: 'Dancing Script', cursive;

          &:hover {
            background-color: $primary_hover_color;
          }
        }
      }
    }
  }
}
