@import "../../../scss/variables";

$statuses: ("todo": $todo_color, "in_progress": $in_progress, "done": $in_done);

.list-group-item {
  border: 2px solid $border_color;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: .50rem 1rem;
  background-color: $color_white;
  border-radius: 25px;

  .item_title {
    margin-top: 10px;
  }

  @each $status, $color in $statuses {
    &.status_#{$status} .item_title{
      color: $color;
    }
  }
}


