$todo_color: #ff6e6e;
$in_progress_color: #7d7dff;
$done_color: #34c734;

$statuses: ("todo": $todo_color, "in_progress": $in_progress_color, "done": $done_color) ;

.todolist_item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 10px;
    border-bottom: 1px solid black;

    &:last-child {
        border-bottom: 0;
    }

    @each $status, $color in $statuses {
        &.status_#{$status} .item_title {
            color: $color;
        }
    }
}