@import "../../scss/variables";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_box {
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    box-shadow: 3px 3px 5px 4px #beb5b5;
    padding: 30px;
    background: white;

    .title_modal_box {
      text-align: center;
      color: $primary_color;
      font-family: 'Dancing Script', cursive;
    }

    .add_category {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .category_textField {
        width: 95%;

        .MuiInputLabel-formControl {
          font-family: 'Dancing Script', cursive;
        }
      }

    }

    .footer_modal {
      display: flex;
      justify-content: center;
      margin-top: 50px;

      .btn_add {
        color: $color_white;
        background-color: $primary_color;
        font-family: 'Dancing Script', cursive;
        padding-right: 30px;
        padding-left: 30px;

        &:hover {
          background-color: $primary_hover_color;
        }
      }

      .btn_close {
        font-family: 'Dancing Script', cursive;
        margin-right: 40px;
      }
    }
  }
}
