@import "../../scss/variables";

.text_field {
  margin: 5px 0;

  .text_field_input {
    display: block;
    width: 96%;
    margin: 5px 5px;
    padding: 5px 14px 2px;
    height: 2.5rem;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    color: currentColor;
    background: none;
    font-size: $base_font_size;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .text_field_label {
    opacity: 0;
    position: absolute;
    transform: translate(15px, 7px);
    font-size: $base_font_size;
    transition: transform 0.35s ease,
                font-size 0.35s ease,
                opacity 0.35s ease;
    pointer-events: none;

    &.focus {
      padding: 0 3px;
      opacity: 1;
      transform: translate(6px, -6px);
      font-size: 10px;
      background-color: $color_white;
      transition: transform 0.35s ease,
                  font-size 0.35s ease,
                  opacity 0.35s ease;
    }
  }

  &.error {
    .text_field_input {
      border-color: $error_color;
    }
    .text_field_label {
      color: $error_color;
    }
    .text_field_helper_text {
      color: $error_color;
      word-wrap: break-word;
      width: 215px;
      margin: 0 auto;
      text-align: center;
    }
  }
}