@import "../../scss/variables";

.search_box_container {
  margin: 40px auto;

  .search_box_card {
    padding: 35px 45px;
    box-shadow: 0 8px 42px -8px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 8px 42px -8px rgba(0, 0, 0, 0.4);
    }

    .search_box_title {
      text-align: center;
    }

    .search_box {
      display: flex;
      padding: 5px;
      justify-content: space-between;

      .MuiFormControl-root {
        margin-right: 10px;
        flex-grow: 2;
      }

      .MuiButton-containedPrimary {
        margin-right: 10px;
        margin-left: 10px;
      }

      .search_box_buttons {
        margin-top: 7px;
        padding: 5px;

        @media(max-width: $max-sm) {
          display: inline-flex;
        }

        @media(max-width: $max-xxs) {
          display: flex;
          flex-direction: column;
        }
      }


    }

    .search_box_result {
      .title_tag {
        margin: 10px 0 10px 0;
      }
    }

    .search_box_submit {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;

      .search_box_submit_btn {
        margin-left: 15px;
      }
    }
  }
}

