@import "../../scss/variables";

.card {
  position: fixed;
  padding: 20px 50px;
  top: 170px;
  background-color: $color_white;
  box-shadow: 0 0 30px 0 rgba(15, 15, 15, 0.2);
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, .125);

  h2 {
    text-align: center;
  }
}

.card-body {
  margin: 0 auto;
}


@media (min-width: 450px) and (max-width: 736px){
  .card h2{
    font-size: 1rem;
  }

  .card {
    padding: 10px 30px;
    position: fixed;
    top: 120px;
  }
}

