@import "../../scss/variables";

.search_my_paper {
  .form-items {
    display: flex;

    .search_btn {
      margin-left: 10px;
      background-color: $primary_color;

      &:hover {
        background-color: $primary_hover_color;
      }

      .MuiButton-startIcon {
        display: inherit;
        margin-left: 0;
        margin-right: 0;
      }

      .MuiButton-iconSizeMedium > *:first-child {
        font-size: 30px;
      }
    }
  }

  .search_textField {
    width: 800px;

    .MuiInputLabel-formControl {
      font-family: 'Dancing Script', cursive;
    }
  }
}
