@import "../../scss/variables";

.create_category {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;

  .btn_topic {
    background-color: #1976d2;
    color: $color_white;
    font-size: large;
    font-family: 'Dancing Script', cursive;
    &:hover {
      background-color: $primary_hover_color;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_box {
    width: 500px;
    border: 2px solid #000;
    box-shadow: 3px 3px 5px 4px #beb5b5;
    padding: 30px;
    background: white;
  }

}

