.select_category {
  margin-top: 40px;

  .category_input_label {
    width: 200px;
    font-family: 'Dancing Script', cursive;
  }

  .select_item {
    font-family: 'Dancing Script', cursive;
  }
}
