.tag_items {
  display: inline-flex;
  margin-right: 5px;
  margin-top: 5px;

  .chip_tag_item {
    display: flex;
    justify-content: start;
    background: #e9e8e8;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
