@import "../../scss/variables";

.header {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: $primary_color;;
    color: $color_white;
    padding: 16px 16px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 30px);
    vertical-align: middle;

}

.main-nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-item {
    display: inline-block;
    margin: 0 3px;
    text-decoration: none;
}

.main-nav-item a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: $logout_color;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav-item a:hover,
.main-nav-item a:active {
    color: $logout_color;
    background: white;
    border: none;
}

@media (min-width: 450px) and (max-width: 736px){
    .header {
        height: 20px;
    }

    .main-nav-item {
        display: inline-block;
        right: 10px;
        top: 5px;
        position: fixed;
        text-decoration: none;
    }

    .main-nav-item a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        background: $logout_color;
        padding: 0.1rem 0.2rem;
        border-radius: 5px;
        text-align: center;
    }
}