@import "../../scss/variables";

.signup_container {
  .server_error {
    color: $error_color;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
    width: 215px;
    word-wrap: break-word;
  }

  .form-signup {
    display: flex;
    flex-direction: column;
    margin: 3px;
  }
}