@import "../../scss/variables";

.base_container {
  .signup_container {
    padding: 10px 30px;
    width: 400px;
    margin-top: 50px;

    .title_signup {
      text-align: center;
      font-family: 'Dancing Script', cursive;
      color: $primary_color;
    }

    .server_error {
      color: $error_color;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      width: 215px;
      word-wrap: break-word;
    }

    .form_signup {
      display: flex;
      flex-direction: column;
      padding: 10px;

      .icon {
        color: $primary_color;
      }

    }

    @media (max-width: $max-xs) {
      width: 95%;
    }
    @media (max-width: $max-sm) {
      width: 85%;
    }
  }
}

.MuiFormHelperText-root.Mui-error {
  color: #f44336;
  width: 215px;
  word-wrap: break-word;
}
