@import "../../scss/variables";

.my_papers_container {
  margin: 100px auto;
  width: 65%;
  padding-bottom: 100px;

  //@media(max-width: $max-md) {
  //  width: 80%;
  //}
  //
  //@media(max-width: $max-xs) {
  //  width: 98%;
  //}

}
