@import "../../scss/variables";

.my_papers_container {
  margin: 0 auto;
  width: 65%;
  padding-bottom: 100px;

  @media(max-width: $max-lg) {
    width: 80%;
  }

  @media(max-width: $max-md) {
    width: 80%;
  }

  @media(max-width: $max-sm) {
    width: 98%;
  }
  @media(max-width: $max-xs) {
    width: 98%;
  }
  @media(max-width: $max-xxs) {
    width: 98%;
  }

}
