@import "../../scss/variables";

.header {

  .header_toolbar {
    color: blue;
    background-color: white;

    padding-right: 5px;
    justify-content: space-between;

    .header_menu_links {

    }
  }

  .header_btn {
    margin: 4px;
    //background-color: $color_white;

    &.selected {
      //background-color: yellow;
    }
  }
}
