@import "../../scss/variables";

.header {
  .MuiToolbar-root {
    justify-content: space-between;
  }

  .header_toolbar {
    padding-right: 5px;
  }

  .header_btn {
    margin: 4px;
    background-color: $color_white;

    &.selected {
      background-color: yellow;
    }
  }
}
