// Small devices (landscape phones, 576px and up)
$min-xs: 576px;
// Medium devices (tablets, 768px and up)
$min-sm: 768px;
// Large devices (desktops, 992px and up)
$min-md: 992px;
// Extra large devices (large desktops, 1200px and up)
$min-xl: 1200px;
// Extra small devices (portrait phones, less than 576px)
$max-xs: 575.98px;
// Small devices (landscape phones, less than 768px)
$max-sm: 767.98px;
// Medium devices (tablets, less than 992px)
$max-md: 991.98px;
// Large devices (desktops, less than 1200px)
$max-xl: 1199.98px;
