$primary_color: #1976d2;
$border_color: #194dd2;
$color_black: #212529;
$color_white: #fff;
$color_gray: #f1f1f1;
$error_color: #e45252;
$todo_color: #e73e3ebd;
$in_done: #42a56a;
$in_progress: #df60df;
$logout_color: #ff1b68;