$font_h1: 30px;
$font_h2: 26px;
$font_h3: 22px;
$font_h4: 18px;
$font_h5: 16px;
$font_h6: 12px;
$base_font_size: 18px;

$font-sizes: (
        "h1": $font_h1,
        "h2": $font_h2,
        "h3": $font_h3,
        "h4": $font_h4,
        "h5": $font_h5,
        "h6": $font_h6,
);
